<!-- some server-side code could merge templates to improve traffic performance -->
<template>
	This is content from the first part of <code>{{path}}</code>
	<script>
		document.currentScript.previousElementSibling.innerText = document.currentScript.model.path;
	</script>,
</template>
<link rel="import" href="../../../polymer/polymer.html">
<template>
	<dom-bind>
		<template is="dom-bind">
			and this is from the second part of <code>{{model.path}}</code>.
		</template>
	</dom-bind>
</template>
