<link rel="import" href="../../../polymer/polymer.html">
<template>
	<dom-bind>
		<template is="dom-bind" id="test">
			This is <input value="{{model.content::input}}"/> stamped from `dom-bind` from
		</template>
	</dom-bind>
    <script>
        (function () {
            var script = document._currentScript || document.currentScript;
            var domBind = script.previousElementSibling;
			console.info('Here runs, imported per-template script that could use document.currentScript to do something;');
        })();
    </script>
</template>
<script>
	(function () {
		var script = document._currentScript || document.currentScript;
		var template = script.previousElementSibling;
		console.info('Here runs, imported per-partial script that could prepare template to be stamped;');
		var codeElement = document.createElement('code');
		codeElement.innerHTML = '"./partials/polymer_binding.html"';
		template.content.querySelector('[is="dom-bind"]').content.appendChild(codeElement);
	})();
</script>
