<link rel="import" href="../../../polymer/polymer.html">
<template>
	<template is="dom-bind" id="test">
        <!-- we use dom-bind-notifier to simplyfy two-way data-binding within dom-bind itself -->
        <dom-bind-notifier ref="test" observed-object="{{model}}" path="model" deep></dom-bind-notifier>
		This is <input value="{{model.content::input}}"/> stamped from `dom-bind` from <code>{{getPartialName()}}</code>.
	</template>
    <script>
        (function () {
            var script = document._currentScript || document.currentScript;
			console.log('Does document contain this tag?', document.contains(script));
            var template = script.previousElementSibling;

            template.getPartialName = function () {
                return "./partials/polymer_binding.html";
            };
        })();
    </script>
</template>
